{% extends "base.html.j2" %}

{% block main %}
<div class="p-5">
    <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in orci dictum, finibus erat eu, sagittis elit. 
    Ut viverra purus ut tincidunt eleifend. Vivamus varius tellus vel pellentesque egestas. Quisque at laoreet nulla. 
    Donec quis est volutpat, finibus diam ac, lobortis ante. Sed at lacus lectus. Aliquam pulvinar consequat urna a fermentum. 
    Praesent consectetur elit felis, et malesuada erat sodales vel. Vivamus sed dignissim ante, vel dapibus arcu. Sed semper scelerisque 
    posuere. Donec sit amet risus at massa venenatis porta. Vivamus sit amet cursus libero. Nulla eu nibh vitae velit ornare semper.</p>
    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab1d68dadca36b89fa6d60e1022e247ed25a32d0ff566225c56ae030971b15cbf&amp;source=constructor" width="100%" height="500" frameborder="0"></iframe>
</div>
{% endblock %}
